  
  .form-title {
        color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  
  .btn-microsoft{
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 3em;
    transition: 0.3s ease;
    background-color: #fff;
    color: #1E1E2D;
  }

  .btn-login {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 3em;
    transition: 0.3s ease;
    background-color: #1E1E2D;
    color: white;
  }

  .bg-glass{
    border-radius: 15px;
    border-width: 1px;
    background-color: rgba(7, 6, 6, 0.6);
    backdrop-filter: blur(9px);
    opacity: 1;
  }

  .btn-login:hover {
    background-color: #3CB9FF!important;
    color: white;
    cursor: pointer !important;
  }
