  
  .form-title {
        color: white !important;
    font-size: 25px !important;
    font-weight: bold !important;
    text-align: center !important;
  }
  
  .btn-microsoft{
    font-weight: bold  !important;
    border: none !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: 3em !important;
    transition: 0.3s ease !important;
    background-color: #fff !important;
    color: #1E1E2D !important;
  }

  .btn-login {
    font-weight: bold !important;
    border: none !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: 3em !important;
    transition: 0.3s ease !important;
    background-color: #1E1E2D !important;
    color: white !important;
  }

  .btn-login:hover {
    background-color: #3CB9FF!important;
    color: white !important;
    cursor: pointer !important;
  }
