.background-card-blue {
  position: relative;
  background-image: url('./bg-card-blue.svg');
  background-repeat: no-repeat; 
}

.background-card-red{
  position: relative;
  background-image: url('./bg-card-red.svg');
  background-repeat: no-repeat;
}

.card-widget {

  width: 100%;
  max-width: 365px;
  height: 335px;
  /* padding: 5px; */
  border-radius: 15px;
  

}

.card-mini {
  max-width: 365px;
}

.card-content{

  border-radius: 15px 15px 0px 0px;
}

.footer-widget {
  background-color: rgb(199, 204, 205);
  padding: 5px;
  border-radius: 0px 0px 15px 15px ;
}

.cart-type-widget {
 
}
.card-type-emp {
  background-color: aliceblue;
  height: 90px;
  width: 90px;
}