

.card-custom {
  border-radius: 12px;
  background: #F3F6F9;
  max-width: 365px;  
  height: 335px;
  width: 100%;
}
 
 .header-cardActivities {
  color: #80808F;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; 
}

.title-lastActivities {
  color: #243250;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-hour-activity {

  font-style: normal;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: #293959;
}

.text-name-activity{
  font-style: normal;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  color: #293959;
  display: inline-block;
  white-space: nowrap;
}

.header-cardActivities {
  color: #80808F;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img-user-type {

  background: #C9F7F5;

}

.status-activity img{
  position: relative;
  left: -4px;
 }

.lineagris {
  width: 3px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #E5EAEE;
}

/* Animation list */

.last-activities {
  height: 225px; 
}

.new-activity {
  animation: slide-in 1.5s ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0)
  }
  30% {
    transform: translateX(3px)
  }
  60% {
    transform: translateX(-6px)
  }
  100% {
    transform: translateX(0)
  }
}

.activity {
  /* margin-bottom: 10px; */
}

.old-activity {
  animation: slide-out 1s ease;
}


/* TEST btn */

.floatbutton {
  top: 0;
  right: 0;
  position: absolute;
  background-color: cornflowerblue;
  width: 20px;
  height: 30px;
  margin: auto;
}